/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#include <dt-bindings/zmk/ext_power.h>

#define DEFAULT 0
#define ZAHLEN  1

&lt { quick_tap_ms = <150>; };
&mt { quick_tap_ms = <150>; };


/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |     |  K  |  .  |  O  |  ,  |  Z  |   |  V  |  G  |  C  |  L  |  ß  |     |
// |     |  H  |  A  |  E  |  I  |  U  |   |  D  |  T  |  R  |  N  |  S  |     |
// |     |  X  |  Q  |  Ä  |  Ü  |  Ö  |   |  B  |  P  |  W  |  M  |  J  |     |
//                  | TAB | GUI | BSPC |   | SPC | CTL | ALT |
                        bindings = <
   &trans &kp K                &kp DOT  &kp O     &kp COMMA &kp Z         &kp V        &kp G     &kp C  &kp L   &kp MINUS          &trans
   &trans &kp H                &kp A    &kp E     &kp I     &kp U         &kp D        &kp T     &kp R  &kp N   &kp S              &trans  
   &trans &mt LSHIFT X         &kp Q    &kp SQT   &kp LBKT  &kp SEMI      &kp B        &kp P     &kp W  &kp M   &mt RSHIFT J       &trans  
                                        &kp TAB   &kp LGUI  &kp BSPC      &kp SPACE    &kp LCTRL &kp LALT
                        >;
                };

	        ZAHLEN {
// -----------------------------------------------------------------------------------------
// |     |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  |     |
// |     |  (  |  )  |  [  |  ]  |  "  |   |  =  |  %  |  up |  <  |  +  |     |
// |     |  @  |  #  |  -  |  {  |  }  |   |  ^  |  le |  do |  ri |  *  |     |
//                   | XXX | XXX | XXX |   | XXX | XXX | XXX |
                        bindings = <
   &trans &kp N1    &kp N2    &kp N3      &kp N4       &kp N5                &kp N6      &kp N7      &kp N8    &kp N9                  &kp N0                    &trans
   &trans &kp LPAR  &kp RPAR  &kp LS(N8)  &kp LS(N9)   &kp LS(N2)            &kp LS(N0)  &kp LS(N5)  &kp UP    &mt LS(COMMA) LS(DOT)   &mt LS(N1) RBKT     &trans  
   &trans &kp AT    &kp HASH  &kp SQT     &kp LBKT     &kp SEMI              &kp GRAVE   &kp LEFT    &kp DOWN  &kp RIGHT               &mt KP_SLASH KP_MULTIPLY  &trans  
                              &trans      &trans       &trans                &trans      &trans      &trans
                        >;
                };
    };
};


/ {
    combos {
        compatible = "zmk,combos";
        combo_enter {
            timeout-ms = <50>;
            key-positions = <18 19>;
            bindings = <&kp ENTER>;
        };
		combo_f {
            timeout-ms = <50>;
            key-positions = <21 22>;
            bindings = <&kp F>;
        };
		combo_esc {
            timeout-ms = <50>;
            key-positions = <1 2>;
            bindings = <&kp ESC>;
        };
		combo_z {
            timeout-ms = <50>;
            key-positions = <9 10>;
            bindings = <&kp Y>;
        };
		combo_del {
            timeout-ms = <50>;
            key-positions = <4 5>;
            bindings = <&kp DEL>;
        };
		combo_copy {
            timeout-ms = <50>;
            key-positions = <25 26>;
            bindings = <&kp K_COPY>;
        };
		combo_cut {
            timeout-ms = <50>;
            key-positions = <28 29>;
            bindings = <&kp K_CUT>;
        };
		combo_paste {
            timeout-ms = <50>;
            key-positions = <27 28>;
            bindings = <&kp K_PASTE>;
        };
		combo_layer1 {
            timeout-ms = <50>;
            key-positions = <18 19 20>;
            bindings = <&kp TG(1)>;
        };



};
